html,
body {
  padding: 0px;
  margin: 0px;
}

main {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  height: 90%;
  width: 100%;
  display: flex;
}

.left,
.right {
  height: 100%;
  width: 50%;
  outline: 5px solid black;
}

.traffic-light-box {
  background-color: #5a5a5a;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traffic-light-box h2 {
  padding: 0px;
  margin: 0px;
  margin: 20px;
  color: white;
}

.traffic-light {
  height: 500px;
  width: 200px;
  background-color: #f5d81b;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.traffic-light > .circle {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 3px solid black;
}

.next-state-button {
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: #2ad111;
}

.yellow {
  background-color: yellow;
}